body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFF2D1;
}

.simon {
    position: relative;
    width: 350px;
    height: 350px;
}

.e1, .e2, .e3, .e4{
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.e1 {
    top: -20px;
    left: -20px;
    border-top-left-radius: 20%;
}

.e2 {
    top: -20px;
    right: -20px;
    border-top-right-radius: 20%;
}

.e4 {
    bottom: -20px;
    left: -20px;
    border-bottom-left-radius: 20%;
}

.e3 {
    bottom: -20px;
    right: -20px;
    border-bottom-right-radius: 20%;
}

.e0 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #5a704a;
}

.e1 {
    width: 180px;
    height: 80px;
    background-color: #d3eaf1;
    position: relative;
    border-radius: 15%;

}

.e1::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 80px;
    height: 150px;
    background-color: #d3eaf1;
    border-radius: 15%;
    z-index: 1;

}

.e2 {
    width: 180px;
    height: 80px;
    background-color: #f1d3d3;
    border-radius: 15%;

}

.e2::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 100px;
    width: 80px;
    height: 150px;
    background-color: #f1d3d3;
    border-radius: 15%;
    z-index: 1;


}

.e3 {
    width: 180px;
    height: 80px;
    background-color: #a182ff;
    border-radius: 15%;

}

.e3::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 100px;
    width: 80px;
    height: 150px;
    background-color: #a182ff;
    border-radius: 15%;
    z-index: 1;


}

.e4 {
    width: 180px;
    height: 80px;
    background-color: #72e496;
    border-radius: 15%;

}

.e4::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 80px;
    height: 150px;
    background-color: #72e496;
    border-radius: 15%;
    z-index: 1;
}

.box-e2 img {
    width: 160px;
    height: auto;
    z-index: 2;
}