:root {
    --shadow-color: #666666;
    --border-color: #888888;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    gap: 15px;
}
.score{
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-rows: auto;
}

.size1 {
    grid-template-columns: repeat(1, 1fr);
}

.size2{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.size4{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.size8{
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.size16 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.size32{
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
}

.size64{
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
}

.simon {
    position: relative;
    width: 330px;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.simSize4 {
    width: 300px;
    height: 300px;
}

.simSize8 {
    width: 295px;
    height: 295px;
}

.simSize16 {
    width: 190px;
    height: 190px;

}

.simSize32 {
    width: 160px;
    height: 160px;
}

.simSize64 {
    width: 80px;
    height: 80px;
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    border: 2px solid #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}


.e1 {
    background: #b30000;
}

.e1:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e2 {
    background: #00b300;
}

.e2:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}


.e3 {
    background: #0000b3;
}
.e3:hover{
    transform: translateY(10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e4 {
    background: #b3b300;
}
.e4:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e0 {
    position: absolute;
    width: 34%;
    height: 34%;
    align-self: center;
    justify-self: center;
    background: var(--shadow-color);
    border-radius: 100%;
    border: 2px solid var(--border-color);
    z-index: 998;
    animation: rotate-shadow 0.5s linear infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button {
    position: absolute;
    width: 38%;
    height: 40%;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    background-color: transparent;
    border: none;
}

.center-hide {
    position: absolute;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
    background: black;
    border-radius: 100%;
    z-index: 1;
}

@keyframes rotate-shadow {
    0% {
        box-shadow: 0 0 20px var(--shadow-color), 0 0 30px var(--shadow-color);
        transform: rotate(0deg);
    }
    50% {
        box-shadow: 0 0 30px var(--shadow-color), 0 0 60px var(--shadow-color);
        transform: rotate(180deg);
    }
    100% {
        box-shadow: 0 0 15px var(--shadow-color), 0 0 30px var(--shadow-color);
        transform: rotate(360deg);
    }
}