:root {
    --shadow-color: #666666;
    --border-color: #888888;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    gap: 15px;
}
.score{
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-rows: auto;
}

.size1 {
    grid-template-columns: repeat(1, 1fr);
}

.size2{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.size4{
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.size8{
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.size16 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.size32{
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
}

.size64{
    grid-template-columns: repeat(8, 1fr);
    gap: 2rem;
}

.simon {
    position: relative;
    width: 330px;
    height: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.simSize4 {
    width: 300px;
    height: 300px;
}

.simSize8 {
    width: 295px;
    height: 295px;
}

.simSize16 {
    width: 190px;
    height: 190px;

}

.simSize32 {
    width: 160px;
    height: 160px;
}

.simSize64 {
    width: 80px;
    height: 80px;
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    border: 2px solid #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}


.e1 {
    background: #b30000;
}

.e1:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e2 {
    background: #00b300;
}

.e2:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}


.e3 {
    background: #0000b3;
}
.e3:hover{
    transform: translateY(10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e4 {
    background: #b3b300;
}
.e4:hover{
    transform: translateY(-10px) scale(1.1);
    transform: translateX(-10px) scale(1.1);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 25px rgba(0, 255, 255, 0.9);
}

.e0 {
    position: absolute;
    width: 34%;
    height: 34%;
    align-self: center;
    justify-self: center;
    background: var(--shadow-color);
    border-radius: 100%;
    border: 2px solid var(--border-color);
    z-index: 998;
    animation: rotate-shadow 0.5s linear infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button {
    position: absolute;
    width: 38%;
    height: 40%;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    background-color: transparent;
    border: none;
}

.center-hide {
    position: absolute;
    width: 50%;
    height: 50%;
    align-self: center;
    justify-self: center;
    background: black;
    border-radius: 100%;
    z-index: 1;
}

@keyframes rotate-shadow {
    0% {
        box-shadow: 0 0 20px var(--shadow-color), 0 0 30px var(--shadow-color);
        transform: rotate(0deg);
    }
    50% {
        box-shadow: 0 0 30px var(--shadow-color), 0 0 60px var(--shadow-color);
        transform: rotate(180deg);
    }
    100% {
        box-shadow: 0 0 15px var(--shadow-color), 0 0 30px var(--shadow-color);
        transform: rotate(360deg);
    }
}

.rainbow {
    animation: birthday 0.675s infinite;
}

@keyframes birthday {
    0% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f),
        color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2),
        color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: linear-gradient(to right,
        #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    16% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #ff2), color-stop(0.15, #f22), color-stop(0.3, #f2f),
        color-stop(0.45, #22f), color-stop(0.6, #2ff), color-stop(0.75, #2ff),
        color-stop(0.9, #2f2), color-stop(1, #ff2));
        background-image: linear-gradient(to right,
        #ff2 0%, #f22 15%, #f2f 30%, #22f 45%, #2ff 60%, #2ff 75%, #2f2 90%, #ff2 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    33% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #2f2), color-stop(0.15, #ff2), color-stop(0.3, #f22),
        color-stop(0.45, #f2f), color-stop(0.6, #22f), color-stop(0.75, #22f),
        color-stop(0.9, #2ff), color-stop(1, #2f2));
        background-image: linear-gradient(to right,
        #2f2 0%, #ff2 15%, #f22 30%, #f2f 45%, #22f 60%, #22f 75%, #2ff 90%, #2f2 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    50% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #2ff), color-stop(0.15, #2f2), color-stop(0.3, #ff2),
        color-stop(0.45, #f22), color-stop(0.6, #f2f), color-stop(0.75, #f2f),
        color-stop(0.9, #22f), color-stop(1, #2ff));
        background-image: linear-gradient(to right,
        #2ff 0%, #2f2 15%, #ff2 30%, #f22 45%, #f2f 60%, #f2f 75%, #22f 90%, #2ff 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    66% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #22f), color-stop(0.15, #2ff), color-stop(0.3, #2f2),
        color-stop(0.45, #ff2), color-stop(0.6, #f22), color-stop(0.75, #f22),
        color-stop(0.9, #f2f), color-stop(1, #22f));
        background-image: linear-gradient(to right,
        #22f 0%, #2ff 15%, #2f2 30%, #ff2 45%, #f22 60%, #f22 75%, #f2f 90%, #22f 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    83% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #f2f), color-stop(0.15, #22f), color-stop(0.3, #2ff),
        color-stop(0.45, #2f2), color-stop(0.6, #ff2), color-stop(0.75, #ff2),
        color-stop(0.9, #f22), color-stop(1, #f2f));
        background-image: linear-gradient(to right,
        #f2f 0%, #22f 15%, #2ff 30%, #2f2 45%, #ff2 60%, #ff2 75%, #f22 90%, #f2f 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    100% {
        background-image: -webkit-gradient(linear, left top, right top,
        color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f),
        color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2),
        color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: linear-gradient(to right,
        #f22 0%, #f2f 15%, #22f 30%, #2ff 45%, #2f2 60%, #2f2 75%, #ff2 90%, #f22 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}
